@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Syne+Mono&display=swap');

body {
    font-family: Fredoka, san-serif;
    background-color: black;
    color: rgb(218, 96, 223);
}

#title {
    text-align: center;
    font-family: 'Syne Mono', monospace;
}
h2 {
    font-family: 'Syne Mono', monospace;
}
.game-button {
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.game {
    margin: auto;
}
.synth {
    width: 275px;
    position: relative;
    margin: auto;
}

.black-key {
    background-color:rgb(122, 43, 226);
    width: 9%;
    height: 70px;
    z-index: 1;
    vertical-align: top;
}
#db {
    position: absolute; 
    left: 9%; 
}
#eb {
    position: absolute; 
    left: 23.5%;
}
#gb {
    position: absolute; 
    left: 52.5%;
}
#ab {
    position: absolute; 
    left: 67%;
}
#bb {
    position: absolute;
    left: 81.4%;
}  

.white-key {
    background-color: whitesmoke;
    width: 13%;
    height: 90px;
}
#c {
   left: 0%;
}
#d {
   left: 13%;
}
#e {
   left: 26%;
}
#f {
   left: 39%;
}
#g {
   left: 52%;
}
#a {
   left: 65%;
}
#b {
   left: 78%;
}

#effects-title {
   text-align: center;
}

/* media queries */

@media screen and (min-width:370px) {
    .synth {
        width: 350px;
        position: relative;
    }
    
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 75px;
        z-index: 1;
        vertical-align: top;
    }
    #db {
        position: absolute; 
        left: 9%; 
    }
    #eb {
        position: absolute; 
        left: 23%;
    }
    #gb {
        position: absolute; 
        left: 51.5%;
    }
    #ab {
        position: absolute; 
        left: 65.5%;
    }
    #bb {
        position: absolute;
        left: 80%;
    }  
    
    .white-key {
        background-color: whitesmoke;
        width: 13%;
        height: 100px;
    }
    #c {
       left: 0%;
    }
    #d {
       left: 13%;
    }
    #e {
       left: 26%;
    }
    #f {
       left: 39%;
    }
    #g {
       left: 52%;
    }
    #a {
       left: 65%;
    }
    #b {
       left: 78%;
    }
    .effects {
        
    }
}

@media screen and (min-width:420px) {
    .synth {
        width: 400px;
        position: relative;
    }
    
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 90px;
        z-index: 1;
        vertical-align: top;
    }
    #db {
        position: absolute; 
        left: 9%; 
    }
    #eb {
        position: absolute; 
        left: 23%;
    }
    #gb {
        position: absolute; 
        left: 51%;
    }
    #ab {
        position: absolute; 
        left: 65%;
    }
    #bb {
        position: absolute;
        left: 79%;
    }  
    
    .white-key {
        background-color: whitesmoke;
        width: 13%;
        height: 120px;
    }
    #c {
       left: 0%;
    }
    #d {
       left: 13%;
    }
    #e {
       left: 26%;
    }
    #f {
       left: 39%;
    }
    #g {
       left: 52%;
    }
    #a {
       left: 65%;
    }
    #b {
       left: 78%;
    }
    .effects {
        
    }
}

@media screen and (min-width:768px) {
    .synth {
        width: 500px;
        position: relative;
    }
    
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 120px;
        z-index: 1;
        vertical-align: top;
    }
    #db {
        position: absolute; 
        left: 9%; 
    }
    #eb {
        position: absolute; 
        left: 22.7%;
    }
    #gb {
        position: absolute; 
        left: 50.2%;
    }
    #ab {
        position: absolute; 
        left: 64.2%;
    }
    #bb {
        position: absolute;
        left: 78%;
    }  
    
    .white-key {
        background-color: whitesmoke;
        width: 13%;
        height: 170px;
    }
    #c {
       left: 0%;
    }
    #d {
       left: 13%;
    }
    #e {
       left: 26%;
    }
    #f {
       left: 39%;
    }
    #g {
       left: 52%;
    }
    #a {
       left: 65%;
    }
    #b {
       left: 78%;
    }
    .effects {
        
    }
}

@media screen and (min-width:1024px) {
    
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 130px;
        z-index: 1;
        vertical-align: top;
    }
    
    .white-key {
        background-color: whitesmoke;
        width: 13%;
        height: 180px;
    }
    .effects {
        
    }
}