@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Syne+Mono&display=swap');

body {
    font-family: Fredoka, san-serif;
    background-color: black;
    color: rgb(218, 96, 223);
}

#title {
    text-align: center;
    font-family: 'Syne Mono', monospace;
    margin-top: 30px;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Syne Mono', monospace;
}

#play-heading {
    text-align: center;
    font-size: 80%;
    margin-bottom: 15px;
}
.game-button {
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.game {
    margin: auto;
}
.synth {
    width: 275px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
.key {
    font-size: 60%;
}
.black-key {
    background-color:rgb(122, 43, 226);
    width: 9%;
    height: 70px;
    z-index: 1;
    vertical-align: top;
}
#db {
    position: absolute; 
    left: 9%; 
}
#eb {
    position: absolute; 
    left: 23.5%;
}
#gb {
    position: absolute; 
    left: 52.5%;
}
#ab {
    position: absolute; 
    left: 67%;
}
#bb {
    position: absolute;
    left: 81.4%;
}  

.white-key {
    background-color: whitesmoke;
    width: 13%;
    height: 90px;
}
#c {
   left: 0%;
}
#d {
   left: 13%;
}
#e {
   left: 26%;
}
#f {
   left: 39%;
}
#g {
   left: 52%;
}
#a {
   left: 65%;
}
#b {
   left: 78%;
}

#effects-title {
   text-align: center;
}
#effects {
    height: 200px;
}

#dropdownMenuButton1 {
    display: block;
    margin: auto;
}
#advert1 {
    height: 200px;
    width: 300px;
}
.advert {
    text-align: center;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* media queries */

@media screen and (min-width:370px) {
    .synth {
        width: 350px;
        position: relative;
        padding-left: 3%;
    }
    
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 75px;
        z-index: 1;
        vertical-align: top;
    }
    #db {
        position: absolute; 
        left: 11.4%; 
    }
    #eb {
        position: absolute; 
        left: 25%;
    }
    #gb {
        position: absolute; 
        left: 52.5%;
    }
    #ab {
        position: absolute; 
        left: 66.5%;
    }
    #bb {
        position: absolute;
        left: 80.4%;
    }  
    
    .white-key {
        background-color: whitesmoke;
        width: 13%;
        height: 100px;
    }

    #effects {
        
    }
}

@media screen and (min-width:420px) {
    .synth {
        width: 400px;
        position: relative;
    }
    
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 90px;
        z-index: 1;
        vertical-align: top;
    }
    #db {
        position: absolute; 
        left: 12%; 
    }
    #eb {
        position: absolute; 
        left: 25.5%;
    }
    #gb {
        position: absolute; 
        left: 52.6%;
    }
    #ab {
        position: absolute; 
        left: 66.1%;
    }
    #bb {
        position: absolute;
        left: 79.6%;
    }  
    
    .white-key {
        background-color: whitesmoke;
        width: 13%;
        height: 120px;
    }
    .effects {
        
    }
}

/* tablet screen size */
@media screen and (min-width:768px) {
    .synth {
        width: 500px;
        position: relative;
    }
    
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 120px;
        z-index: 1;
        vertical-align: top;
    }
    #db {
        position: absolute; 
        left: 12.3%; 
    }
    #eb {
        position: absolute; 
        left: 25.5%;
    }
    #gb {
        position: absolute; 
        left: 52.2%;
    }
    #ab {
        position: absolute; 
        left: 65.4%;
    }
    #bb {
        position: absolute;
        left: 78.6%;
    }  
    
    .white-key {
        background-color: whitesmoke;
        width: 13%;
        height: 170px;
    }
    #effects {
        margin-right: 0;
        margin-left: auto;
        width: 300px;
        border: 2px;
        border-color: rgb(122, 43, 226);
        display: table;
        float: left;
    }
    #advert1 {
        height: 200px;
        width: 300px;
        margin-left: 0;
        margin-right: auto;
        display: table;
    }
}

@media screen and (min-width:1024px) {
    
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 130px;
        z-index: 1;
        vertical-align: top;
    }
    #db {
        position: absolute; 
        left: 13.5%; 
    }
    #eb {
        position: absolute; 
        left: 26.7%;
    }
    #gb {
        position: absolute; 
        left: 52.8%;
    }
    #ab {
        position: absolute; 
        left: 65.8%;
    }
    #bb {
        position: absolute;
        left: 78.9%;
    }  
    
    .white-key {
        background-color: whitesmoke;
        width: 13%;
        height: 180px;
    }
    .effects {
        
    }
}

@media screen and (min-width:1199px) {
    .synth {
        padding-left: 33px;
    }
    .black-key {
        background-color:rgb(122, 43, 226);
        width: 9%;
        height: 130px;
        z-index: 1;
        vertical-align: top;
    }
    #db {
        position: absolute; 
        left: 14.5%; 
    }
    #eb {
        position: absolute; 
        left: 27.6%;
    }
    #gb {
        position: absolute; 
        left: 53.5%;
    }
    #ab {
        position: absolute; 
        left: 66.4%;
    }
    #bb {
        position: absolute;
        left: 79.3%;
    } 
}