@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
    font-family: Fredoka, san-serif;
    background-color: black;
    color: rgb(218, 96, 223);
}

.game-button{
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 50%;
}

.synth {
    width: 275px;
    position: relative;
}

.black-key {
    background-color:rgb(122, 43, 226);
    width: 9%;
    height: 70px;
    z-index: 1;
    vertical-align: top;
}
#db {
    position: absolute; 
    left: 9%; 
}
#eb {
    position: absolute; 
    left: 23.5%;
}
#gb {
    position: absolute; 
    left: 52.5%;
}
#ab {
    position: absolute; 
    left: 67%;
}
#bb {
    position: absolute;
    left: 81.4%;
}  

.white-key {
    background-color: whitesmoke;
    width: 13%;
    height: 90px;
}
#c {
   left: 0%;
}
#d {
   left: 13%;
}
#e {
   left: 26%;
}
#f {
   left: 39%;
}
#g {
   left: 52%;
}
#a {
   left: 65%;
}
#b {
   left: 78%;
}
.effects {
    
}